/* Active Sidebar Link Styling */
.Mui-selected {
  background-color: rgba(0, 0, 255, 0.1);
  color: blue;
}

/* Sidebar Styling */
.MuiDrawer-paper {
  width: 240px;
  box-sizing: border-box;
}

/* Add this CSS to your main stylesheet */
.modal-dialog {
  max-height: 90vh; /* Maximum height of the modal */
}

.modal-content {
  max-height: 90vh;
  overflow-y: auto; /* Enables vertical scrolling */
}
